# Email me if you would like any of the disks in here
# Excluded them from the repo due to file size limits
#
# support@dunkelheit.co.uk

Mojave.img
MountainLion.dmg
elementaryos-5.0-stable.20181016.iso
Yosemite.iso
